.searchPanelView{
  height: 70px;
  width: 100%;
  background-color: #009688;
  color: #fff;
  justify-content: space-around;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}
input{
  height: 50px;
  width: 75%;
  background-color: transparent;
  border: none;
  border-bottom: #fff solid 1px;
  color: inherit;
}
input::placeholder{
  color: #dbdbdb;
  opacity: 0.8;
}

.buttonsView{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  background-color: transparent;
  color: #fff;
  border: none
}
button:focus,input:focus{
  outline: none
}